---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle="Home Page";
---

<BaseLayout pageTitle={pageTitle}>

  
<h2>Welcome to My Astro Site</h2>
<p>This is the platform where you can just share your thoughts, news and ideas about anything you consider important in your life and in this world!</p>
<p>Take your time and text your thoughts <a href="#">here!</a> </p>
    

</BaseLayout> 