---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle="Home Page";
---

<BaseLayout pageTitle={pageTitle}>

  
<h2>Welcome to StoryNest – Your Stories Matter</h2>
<p>Share your voice, connect with others, and explore endless ideas.</p>
<p>Join our community <a href="/sign">here</a></p>
    

</BaseLayout> 