---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle="Sign In";
---

<BaseLayout pageTitle={pageTitle}>

<h2>Hey! It seems that you are looking for place where you can exchange ideas with your friends? Jist sign in and start</h2>

</BaseLayout> 