<p>This web page was developed by Arina Vidman (3153879)</p>
<p>You can find me here:</p>
<ul>
    <li><a href="https://www.instagram.com/arisha.vidman/">Instagram</a></li>
    <li><a href="https://www.behance.net/arinavidm">Behance</a></li>
    <li><a href="https://www.linkedin.com/in/arina-vidman-820a20329/">LinkedIn</a></li>
</ul>